@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
  color: #2e3a3a;
  background-color: #f0f4f3;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-tap-highlight-color: transparent;
}

html {
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}